<!DOCTYPE html>
<html class="" lang="en">
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]-->
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow">

    <meta content='' property='og:title'/>
    <meta content='' property='og:description'/>
    <meta content='images/upload/fb-post.jpg' property='og:image'/>

	<title>Fujiyama</title>
	<!-- Styles -->
	{% include "../block/_style.html" %}
	<!-- Favicon -->
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" sizes="16x16" >
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lt IE 8]><html class="ie">
		<script>
			window.location = "notsupport.html";
		</script>
	<![endif]-->
</head>
<body class="{% block bodyclass%}{% endblock %}">
	<div id="page" class="header-mobile {% if current_page == 'category' %}header-category{% endif %}">
		<div class="header">
	        <a class="mmenu" href="#menu"><i class="fa fa-filter"></i><span>Bộ lọc</span></a>
	        <div class="container">
	        	<div class="row">
		            <div class="col-xs-4 col-sm-2 logo">
		                <a href="javascript:void(0);" title="">
		                        <img src="assets/images/logo.png" alt="logo">
		                    </a>
		            </div>
		            <div class="col-xs-12 col-sm-7 col-md-6">
		                <form class="navbar-form">
		                    <div class="input-group">
		                        <input type="text" id="key_search" class="form-control" placeholder="Xin chào, bạn có muốn mua gì không?" name="q">
		                        <div class="input-group-btn">
		                            <button id="btn_search" class="btn" type="button"><i class="icon-search">&nbsp</i></button>
		                        </div>
		                    </div>
		                    <div class="result-search scrollbar" id="show-result">
		                        <ul class="popular-result">
		                            <li>
		                                <a href="#">Giày cao gót <span>trong </span><span class="category">Thời trang</span></a>
		                            </li>
		                            <li>
		                                <a href="#">Giày cao gót <span>trong </span><span class="category">Phụ kiện</span></a>
		                            </li>
		                            <li>
		                                <a href="#">Giày cao gót <span>trong </span><span class="category">Sách</span></a>
		                            </li>
		                            <li><a href="#">Giày cao gót</a></li>
		                            <li><a href="#">Giày cao gót</a></li>
		                            <li><a href="#">Giày cao gót</a></li>
		                        </ul>
		                        <div class="recommend-result">
		                            <p class="title">Sản phẩm gợi ý</p>
		                            <ul class="list-result">
		                                <li class="item-result">
		                                    <a href="#">
		                                        <div class="wrap-img">
		                                            <img src="assets/images/upload/product/recommend-1.png" alt="recommend">
		                                        </div>
		                                        <div class="information">
		                                            <p>Giày Cao Gót 7cm Huy Hoàng HH7020 - Đen</p>
		                                            <p class="price">379.000₫</p> <span>455.000₫</span>
		                                        </div>
		                                    </a>
		                                </li>
		                                <li class="item-result">
		                                    <a href="#">
		                                        <div class="wrap-img">
		                                            <img src="assets/images/upload/product/recommend-2.png" alt="">
		                                        </div>
		                                        <div class="information">
		                                            <p>Giày Cao Gót Mũi Nhọn Cindydrella L8K - Kem</p>
		                                            <p class="price">269.000₫ </p> <span>359.000₫</span>
		                                        </div>
		                                    </a>
		                                </li>
		                                <li class="item-result">
		                                    <a href="#">
		                                        <div class="wrap-img">
		                                            <img src="assets/images/upload/product/recommend-3.png" alt="">
		                                        </div>
		                                        <div class="information">
		                                            <p>Hoa Xương Rồng Nở Trên Giày Cao Gót</p>
		                                            <p class="price">50.000₫ </p> <span>62.000₫</span>
		                                        </div>
		                                    </a>
		                                </li>
		                                <li class="item-result">
		                                    <a href="#">
		                                        <div class="wrap-img">
		                                            <img src="assets/images/upload/product/recommend-4.png" alt="">
		                                        </div>
		                                        <div class="information">
		                                            <p>Giày Cao Gót G Alanti GS15-281-172-K - Kem</p>
		                                            <p class="price">289.000₫ </p> <span>319.000₫</span>
		                                        </div>
		                                    </a>
		                                </li>
		                                <li class="item-result">
		                                    <a href="#">
		                                        <div class="wrap-img">
		                                            <img src="assets/images/upload/product/recommend-5.png" alt="">
		                                        </div>
		                                        <div class="information">
		                                            <p>Giày Cao Gót G Alanti GS15-290-66-K - Đỏ</p>
		                                            <p class="price">219.000₫</p> <span>379.000₫</span>
		                                        </div>
		                                    </a>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                </form>
		            </div>
		            <div class="col-xs-8 col-sm-3 col-md-4 hotline">
		                <div class="row">
		                    <!-- <div class="col-xs-5 col-sm-6 no-padding"> -->
		                        <p>Hỗ trợ: <a class="telephone" href="tel:1900 1826" title="">1900 1826 (1)</a></p>
		                    <!-- </div> -->
		                    <!-- <div class="col-xs-7 col-sm-6 no-padding"> -->
		                        <p class="time">(08h00 - 22h00, Thứ 2 - Chủ nhật)</p>
		                    <!-- </div> -->
		                </div>
		            </div>
		        </div>
	        </div>
	        
	        <div id="collapseExample">
	        <div class="container">
	            <div class="wrap-slider clearfix">
	                <div class="slider">
	                    <div id="owl-demo1" class="owl-carousel owl-theme">
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="1">Tủ lạnh</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="2">Máy lạnh</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="3">Máy giặt</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="4">Tủ đông</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="5">Gia dụng</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="6">Âm thanh</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="7">Gia đình</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="8">Điện thoại & Tablet</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="9">Thiết bị Nghe nhìn</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="10">Thực Phẩm (Focus Bánh)</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="11">Sức Khỏe & Làm Đẹp</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="12">Thời Trang</a></div>
	                        <div class="item"> <a href="javascript:void(0);" title="" data-id="13">eBook</a></div>
	                    </div>
	                </div>
	                <div class="next-pre">
	                    <div class="customNavigation"><a href="javascript:void(0);" title="" class="btn prev"><span class="fa fa-angle-left"></span></a><a href="javascript:void(0);" title="" class="btn next"><span class="fa fa-angle-right"></span></a></div>
	                </div>
	            </div>
	        </div>
	    </div>   
	    </div>	
	     
	    <nav id="{% if current_page == 'category' %}menu{% endif %}">
	        <ul>
	        	<li class="title"><h2>Gia Dụng</h2></li>
	            <li>
	            	<a href="#">Danh mục</a>
	            	<ul class="mm-listview">
						<li>
							<a href="#">Đồ dùng nhà bếp</a><em class="badge mm-counter">1378</em>
							<ul class="mm-listview">
								<li><a href="#">Bếp ga </a><em class="badge mm-counter">1378</em></li>
								<li><a href="#">Bếp từ </a><em class="badge mm-counter">578</em></li>
							</ul>
						</li>
						<li>
							<a href="#">Thiết bị gia đình</a><em class="badge mm-counter">578</em>
							<ul class="mm-listview">
								<li><a href="#">Bếp ga </a><em class="badge mm-counter">1378</em></li>
								<li><a href="#">Bếp từ </a><em class="badge mm-counter">578</em></li>
							</ul>
						</li>
						<li><a href="#">Các sản phẩm khác</a><em class="badge mm-counter">78</em></li>
					</ul>
	            </li>
	            <li>
	            	<a href="#">Thương hiệu</a>
	            	<ul class="mm-listview">
						<li>
							<a class="checkbox">
		                        <input id="check1" type="checkbox" name="check" value="check1">
		                        <label for="check1">Sony</label>
		                    </a>
		                    <em class="badge mm-counter">578</em>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check2" type="checkbox" name="check" value="check1">
		                        <label for="check2">Samsung</label>
		                        <em class="badge mm-counter">178</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check3" type="checkbox" name="check" value="check1">
		                        <label for="check3">LG</label>
		                        <em class="badge mm-counter">178</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check4" type="checkbox" name="check" value="check1">
		                        <label for="check4">Panasonic</label>
		                        <em class="badge mm-counter">178</em>
		                    </a>
						</li>
					</ul>
	            </li>
	            <li>
	            	<a href="#">Kích thước màn hình</a>
	            	<ul class="mm-listview">
						<li>
							<a class="checkbox">
		                        <input id="check5" type="checkbox" name="check" value="check1">
		                        <label for="check5">Dưới 32 inch (35) <span>(Khoảng cách: Dưới 2m)</span></label>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check6" type="checkbox" name="check" value="check1">
		                        <label for="check6">32-43 inch (19) <span>(Khoảng cách: 2-3m)</span></label>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check7" type="checkbox" name="check" value="check1">
		                        <label for="check7">44-55 inch (158) <span>(Khoảng cách: 3-4m)</span></label>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check8" type="checkbox" name="check" value="check1">
		                        <label for="check8">Trên 55 inch (89) <span>(Khoảng cách: Trên 5m)</span> </label>
		                    </a>
						</li>
					</ul>
	            </li>
	            <li>
	            	<a href="#">Giá bán</a>
	            	<ul class="mm-listview">
						<li>
							<a class="checkbox">
		                        <input id="check9" type="checkbox" name="check" value="check1">
		                        <label for="check9">Dưới 5 triệu</label>
		                    </a>
		                    <em class="badge mm-counter">78</em>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check10" type="checkbox" name="check" value="check1">
		                        <label for="check10">Từ 5 - 7 triệu </label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check11" type="checkbox" name="check" value="check1">
		                        <label for="check11">Từ 7 - 10 triệu</label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check12" type="checkbox" name="check" value="check1">
		                        <label for="check12">Từ 10 - 15 triệu</label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check13" type="checkbox" name="check" value="check1">
		                        <label for="check13">Từ 15 - 20 triệu</label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check14" type="checkbox" name="check" value="check1">
		                        <label for="check14">Từ 20 - 25 triệu</label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="check15" type="checkbox" name="check" value="check1">
		                        <label for="check15">Trên 30 triệu</label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
					</ul>
	            </li>
	            <li>
	            	<a href="#">Loại Tivi</a>
	            	<ul class="mm-listview">
						<li>
							<a class="checkbox">
		                        <input id="checka" type="checkbox" name="check" value="check1">
		                        <label for="checka">Smart Tivi </label>
		                    </a>
		                    <em class="badge mm-counter">78</em>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="checkb" type="checkbox" name="check" value="check1">
		                        <label for="checkb">Tivi Oled</label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="checkc" type="checkbox" name="check" value="check1">
		                        <label for="checkc">Tivi HDR </label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="checkd" type="checkbox" name="check" value="check1">
		                        <label for="checkd">Tivi 3D</label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="checke" type="checkbox" name="check" value="check1">
		                        <label for="checke">Tivi thường </label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="checkf" type="checkbox" name="check" value="check1">
		                        <label for="checkf">Tivi màn hình cong </label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
						<li>
							<a class="checkbox">
		                        <input id="checkg" type="checkbox" name="check" value="check1">
		                        <label for="checkg">Tivi 4K </label>
		                        <em class="badge mm-counter">78</em>
		                    </a>
						</li>
					</ul>
	            </li>
	        </ul>
	    </nav>
		<!--header-->
		{% block header%}{% endblock %}
		<!--page-container-->
		{% block page-container %}{% endblock %}
		<!--footer-->
		{% block footer%}{% endblock %}
		<!--modal-->
		{% block modal%}{% endblock %}
		<!--script-->
		{% include "../block/_script.html" %}
	</div>
</body>
</html>
