@media (min-width: 1400px) {
	.header-search {
	    width: 53%;
	    margin: 0 auto;
	    
	}
	header .wrap-menu .top-menu .search-top {
	    display: block;
	}
	header .wrap-menu  {
		.menu {
	    	padding-left: 25px;
	    }
	}
}

@media (max-width: 1399px) {
	header .topnav {
	    padding: 0 30px 0 0px;
	    .list-link {
	    	margin-top: 5px;
	    }
	}
	header .navbar-brand.logo {
	    padding-right: 15px;
	}
	header .wrap-menu,
	header .navbar-brand.logo,
	header {
		min-height: 85px;
	}
	header .navbar-brand.logo {
	    padding: 32px 10px;
	    min-height: 98px;
	}
	header .wrap-menu .top-menu .menu {
	    width: 43%;
	}
	.header-search {
	    width: 48%;
	}
	header .cart {
	    width: 9%;
	}
	.main .flag-col .inner {
	    padding: 20px;
	}
	.main .flag-col .inner1 {
	    padding: 85px 20px;
	}
	.main .flag-col .inner a.link {
	    padding: 5px 30px;
	    margin-top: 22px;
	}
	.owl-carousel {
		.owl-item {
			.item {
				.information {
					margin-top: 5px;
				}
			}
		}
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 36px;
	}
	.main .banner-middle2 .inner img {
	    margin-top: 60px;
	}
	.main .banner-middle2 .inner {
	    width: 45%;
	}
	.main .banner-middle .inner h3.title {
	    margin-top: 100px;
	}
	
	.main .banner-middle2 .inner .btn-secondary {
	    margin-top: 80px;
	}
	.main .flag-col .inner a.link {
	    margin-top: 25px;
	}
	.main .flag-col .inner .name-col h3 {
	    margin-top: 25px;
	}
	.main .flag-col .inner1 .name-col h3 {
	    margin-top: 0;
	}
	.content2 p.descript {
	    margin: 20px 0 30px;
	}
	.star {
	    margin-bottom: 25px;
	}
}
@media (max-width: 1024px)  {
	.header-search {
	    width: 32%;
	}
	
	.menu-slick .nav-tabs {
	    width: 100% !important;
	    li {
	    	width: 33.4%;
	    	a {
	    		width: 100% !important;
	    		padding: 12px 0;
	    	}
	    }
	}
	header .slider {
	    width: 92% !important;
	}
	.hotline {
	    margin: 12px 0 17px;
	}
	.sidebar .content-sidebar,
	.sidebar .content-sidebar.affix .box-check {
	    width: 195px;
	}
	.width-reset-col-md-2,
	.sidebar .content-sidebar.affix {
	    width: 210px;
	}
	.width-reset-col-md-10 {
	    width: 755px;
	}
}
@media (min-width: 992px) {
	
	.main .flag-col {
	    height: 280px;
	}
	.main .flag-col .inner a.link {
	    padding: 5px 16px;
	    font-size: 19px;
	}	
	.header {
		display: none;
	}
}
@media (max-width: 991px) {
	header,
	.sidebar {
		display: none;
	}
	.header {
		display: block;
		img {
	    	margin-top: 6px;
	    }
	}
	.width-reset-col-md-10 {
		width: 100%;
	}
	.header a {
	    top: 30px;
	}
	.header-search {
		margin: 0 auto;
	    position: relative;
    	top: -10px;
	}
	.search-top {
		padding-bottom: 10px;
		.btn-search {
		    position: absolute;
		    top: 0;
		    right: 0;
		    z-index: 4;
		}
	}
	.header-search {
	    width: 70%;
	}
	.hotline p .telephone {
	    font-size: 22px;
	}
	.main .owl-carousel .item {
	    width: 88%;
	    margin: 0 auto;
	}
	.content2, .content1 {
		margin-top: 30px;
	}
	.main .banner-middle .inner {
	    width: 70%;
	}
	.cart {
		color: @primary-color;
	}
	.search-top {
		.input-search {
			border-top-left-radius: 20px !important;
		    border-bottom-left-radius: 20px !important;
		    border-top-right-radius: 20px !important;
		    border-bottom-right-radius: 20px !important;
		}
		.btn-search {
		    border-top-right-radius: 10px;
		    border-bottom-right-radius: 10px;
		    background: #fff;
		    font-weight: 700;
		    top: 1px;
		    height: 23px;
		}
	}
	.main .flag-col .inner {
	    padding: 40px 20px;
	}
	.main .flag-col .inner1 {
	    padding: 110px 20px;
	}
	.retailers-detail .star {
	    margin-bottom: 30px;
	}
	.retailers-detail .btn-primary {
	    margin: 20px 0;
	}
	.form-ship {
	    width: 100%;
	}
	header .slider .item {
	    margin-right: 80px;
	}
	header .slider {
	    width: 90% !important;
	}
	.header .slider {
	    width: 90% !important;
	}
	.header .slider .item {
		margin-right: 80px;
	}
	.breadcrumb {
	    margin-top: 57px;
	}
}
@media (max-width: 767px) {
	.hotline {
	    margin: 25px 0 17px;
	}
	.pagination {
    	.wrap{
    		.left div, .right div, .display {
	    		display: none;
	    	}
    	}    	
    }
    .wrap-pagi {
		text-align: center;
		.page {
		    width: 100%;
		}
    }
}
@media (max-width: 580px) {
	.main .flag-col .inner a.link {
	    padding: 5px 15px;
	    font-size: 15px;
	}
	.main .banner-middle .inner {
	    margin-left: 60px;
	    width: 80%;
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 25px;
	}

}
@media (max-width: 480px) {
	.main .banner-middle .inner {
	    margin-left: 0;
	}
	.header-search {
	    width: 70%;
	}
	.header {
		line-height: normal;
		padding: 0 20px;
		img {
			width: 80%;
    		margin-top: 10px;
		}
	}
	.header a {
	    top: 13px;
	}
	.cart {
	    position: relative;
	    top: -6px;
	}
	header .slider .item {
	    margin-right: 55px;
	}
	header .slider {
	    width: 80% !important;
	}
	.menu-slick .nav-tabs li {
	    width: 62.4%;
	}
	.swiper-wrapper .swiper-slide {
	    height: 300px;
	    background: url(../images/banner.png);
        background-size: cover;
	}
	.hotline {
	    margin: 12px 0 17px;
	}
	footer .col-xs-6,
	.block-buy .col-xs-6 {
        width: 100%;
        padding: 0 30px;
    }    
}
@media (max-width: 375px) {
	.main .banner-middle .inner h3.title {
	    font-size: 18px;
	    margin-top: 120px;
	}
	.main .banner-middle2 .inner h3.title {
	    margin-left: 102px;
	}
	.btn-secondary {
	    padding: 0 25px;
	    font-size: 14px;
	}
	.swiper-wrapper .text-inner .text h3 {
	    font-size: 30px;
	}
	.swiper-wrapper .text-inner .text h2.main {
	    font-size: 67px;
	}
	.swiper-wrapper .text-inner .note-top {
	    margin-bottom: 25px;
	    margin-top: 25px;
	}
	.swiper-wrapper .text-inner {
	    padding-left: 35px;
	}
	.banner-farmer .swiper-wrapper .text-inner .text h3 {
	    font-size: 20px;
	}
	.banner-farmer .swiper-wrapper .text-inner .text h4 {
	    font-size: 18px;
	}
	.banner-farmer .swiper-wrapper .text-inner .text h2.main {
	    font-size: 41px;
	}
	.retailers .banner .text-inner img, .retailers-detail .banner .text-inner img {
	    margin: 0 20px;
	}
	.retailers .swiper-wrapper .text-inner .text h3,
	.retailers-detail .swiper-wrapper .text-inner .text h3 {
	    font-size: 27px;
	}
	.retailers .swiper-wrapper .text-inner,
	.retailers-detail .swiper-wrapper .text-inner{
	    padding: 0 10px;
	}
	.form-ship .wrap-ip {
	    width: 60%;
	}
	.form-ship label {
	    width: 40%;
	}
}

@media (max-width: 320px) {
	.main .flag-col .inner a.link {
	    padding: 5px 35px;
	    font-size: 16px;
	}
	.main .banner-middle2 .inner h3.title {
	    margin-left: 82px;
	}
	.main .banner-middle2 .inner img {
	    margin-top: 125px;
	}
	.main .banner-middle .inner h3.title {
	    font-size: 15px;
	    margin-top: 136px;
	}
	.main .banner-middle2 .inner img {
	    margin-right: 15px;
	}
	.btn-primary {
	    padding: 0 55px;
	}
	.swiper-wrapper .text-inner .text h4 {
	    font-size: 18px;
	}
	.swiper-wrapper .text-inner .text h3 {
	    font-size: 26px;
	}
	.swiper-wrapper .text-inner .text h2.main {
	    font-size: 60px;
	}
	.swiper-wrapper .text-inner {
	    padding-left: 25px;
	}
	.retailers .swiper-wrapper .text-inner .note-top,
	.retailers-detail .swiper-wrapper .text-inner .note-top {
	    margin-bottom: 5px;
	    margin-top: 42px;
	}
}