{% set current_page = 'index' %}
{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                </div>
                <div class="swiper-slide">
                </div>
                <div class="swiper-slide">
                </div>
                <div class="swiper-slide">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="menu-slick menu-slick-style1" style="cursor: all-scroll;">
        <ul class="nav nav-tabs slider " role="tablist">
            <li role="presentation" class="cls-tab-promotion active"><a href="javascript:void(0);" class="home tablinks" title="" aria-controls="home" role="tab" onclick="openCity(event, 'tab1')"><span>Sản phẩm mới</span></a></li>
            <li role="presentation" class="cls-tab-promotion "><a href="javascript:void(0);" class="camera tablinks" title="" role="tab" onclick="openCity(event, 'tab2')"><span>Sản phẩm nổi bật</span></a></li>
            <li role="presentation" class="cls-tab-promotion "><a href="javascript:void(0);" title="" class="maygiat tablinks" role="tab" onclick="openCity(event, 'tab3')"><span>Sản phẩm bán chạy</span></a></li>
        </ul>
    </div>
    <div class="container">
        <!-- slide product -->
        <div class="tab-content">
            <div role="tabpanel" class="active tabcontent" id="tab1">
                <!-- Tab panes-->
                <div id="owl-slide" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="box">
                            <div class="sale">
                                <span class="number">31</span>
                                <span class="per">%</span>
                            </div>
                            <a class="link-img" href="javascript:void(0);" title="">
                                    <img src="assets/images/upload/product1.png" alt="product">
                                    <span class="icon icon-gift"></span>
                                </a>
                            <div class="content">
                                <p class="text"><a href="javascript:void(0);">Canon 700D với Lens kit 18-55mm IS STM 18MP (Đen) + Tặng 1 túi máy ảnh </a></p>
                                <div class="price-buy clearfix">
                                    <div class="price pull-left">
                                        <p class="price-line">13.900.900 <sup>đ</sup></p>
                                        <p class="price-orange">10.099.000<sup>đ</sup></p>
                                    </div>
                                    <div class="buy-btn pull-right">
                                        <a class="btn btn-orange" target="_blank" href="javascript:void(0);" title="">Mua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="sale">
                                <span class="number">31</span>
                                <span class="per">%</span>
                            </div>
                            <a class="link-img" href="javascript:void(0);" title="">
                                    <img src="assets/images/upload/product2.png" alt="product">
                                    <span class="icon icon-gift"></span>
                                </a>
                            <div class="content">
                                <p class="text"><a href="javascript:void(0);">Canon 700D với Lens kit 18-55mm IS STM 18MP (Đen) + Tặng 1 túi máy ảnh </a></p>
                                <div class="price-buy clearfix">
                                    <div class="price pull-left">
                                        <p class="price-line">13.900.900 <sup>đ</sup></p>
                                        <p class="price-orange">10.099.000<sup>đ</sup></p>
                                    </div>
                                    <div class="buy-btn pull-right">
                                        <a class="btn btn-orange" target="_blank" href="javascript:void(0);" title="">Mua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="sale">
                                <span class="number">31</span>
                                <span class="per">%</span>
                            </div>
                            <a class="link-img" href="javascript:void(0);" title="">
                                    <img src="assets/images/upload/product3.png" alt="product">
                                    <span class="icon icon-gift"></span>
                                </a>
                            <div class="content">
                                <p class="text"><a href="javascript:void(0);">Canon 700D với Lens kit 18-55mm IS STM 18MP (Đen) + Tặng 1 túi máy ảnh </a></p>
                                <div class="price-buy clearfix">
                                    <div class="price pull-left">
                                        <p class="price-line">13.900.900 <sup>đ</sup></p>
                                        <p class="price-orange">10.099.000<sup>đ</sup></p>
                                    </div>
                                    <div class="buy-btn pull-right">
                                        <a class="btn btn-orange" target="_blank" href="javascript:void(0);" title="">Mua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="sale">
                                <span class="number">31</span>
                                <span class="per">%</span>
                            </div>
                            <a class="link-img" href="javascript:void(0);" title="">
                                    <img src="assets/images/upload/product4.png" alt="product">
                                    <span class="icon icon-gift"></span>
                                </a>
                            <div class="content">
                                <p class="text"><a href="javascript:void(0);">Canon 700D với Lens kit 18-55mm IS STM 18MP (Đen) + Tặng 1 túi máy ảnh </a></p>
                                <div class="price-buy clearfix">
                                    <div class="price pull-left">
                                        <p class="price-line">13.900.900 <sup>đ</sup></p>
                                        <p class="price-orange">10.099.000<sup>đ</sup></p>
                                    </div>
                                    <div class="buy-btn pull-right">
                                        <a class="btn btn-orange" target="_blank" href="javascript:void(0);" title="">Mua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="sale">
                                <span class="number">31</span>
                                <span class="per">%</span>
                            </div>
                            <a class="link-img" href="javascript:void(0);" title="">
                                    <img src="assets/images/upload/product1.png" alt="product">
                                    <span class="icon icon-gift"></span>
                                </a>
                            <div class="content">
                                <p class="text"><a href="javascript:void(0);">Canon 700D với Lens kit 18-55mm IS STM 18MP (Đen) + Tặng 1 túi máy ảnh </a></p>
                                <div class="price-buy clearfix">
                                    <div class="price pull-left">
                                        <p class="price-line">13.900.900 <sup>đ</sup></p>
                                        <p class="price-orange">10.099.000<sup>đ</sup></p>
                                    </div>
                                    <div class="buy-btn pull-right">
                                        <a class="btn btn-orange" target="_blank" href="javascript:void(0);" title="">Mua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="sale">
                                <span class="number">31</span>
                                <span class="per">%</span>
                            </div>
                            <a class="link-img" href="javascript:void(0);" title="">
                                    <img src="assets/images/upload/product2.png" alt="product">
                                    <span class="icon icon-gift"></span>
                                </a>
                            <div class="content">
                                <p class="text"><a href="javascript:void(0);">Canon 700D với Lens kit 18-55mm IS STM 18MP (Đen) + Tặng 1 túi máy ảnh </a></p>
                                <div class="price-buy clearfix">
                                    <div class="price pull-left">
                                        <p class="price-line">13.900.900 <sup>đ</sup></p>
                                        <p class="price-orange">10.099.000<sup>đ</sup></p>
                                    </div>
                                    <div class="buy-btn pull-right">
                                        <a class="btn btn-orange" target="_blank" href="javascript:void(0);" title="">Mua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="sale">
                                <span class="number">31</span>
                                <span class="per">%</span>
                            </div>
                            <a class="link-img" href="javascript:void(0);" title="">
                                    <img src="assets/images/upload/product3.png" alt="product">
                                    <span class="icon icon-gift"></span>
                                </a>
                            <div class="content">
                                <p class="text"><a href="javascript:void(0);">Canon 700D với Lens kit 18-55mm IS STM 18MP (Đen) + Tặng 1 túi máy ảnh </a></p>
                                <div class="price-buy clearfix">
                                    <div class="price pull-left">
                                        <p class="price-line">13.900.900 <sup>đ</sup></p>
                                        <p class="price-orange">10.099.000<sup>đ</sup></p>
                                    </div>
                                    <div class="buy-btn pull-right">
                                        <a class="btn btn-orange" target="_blank" href="javascript:void(0);" title="">Mua</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- list banner -->
        <div class="list-banner">
            <div class="col-sm-4 no-padding">
                <div class="banner1 banner-hover">
                    <div class="img">
                        <img src="assets/images/upload/banner1.png" alt="">
                        <div class="bg-hover"></div>
                    </div>
                    <div class="name">
                        <h3 class="title">Tủ lạnh</h3>
                        <a href="#" class="link-detail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="banner2 banner-hover">
                    <div class="img">
                        <img src="assets/images/upload/banner4.png" alt="">
                        <div class="bg-hover"></div>
                    </div>
                    <div class="name">
                        <h3 class="title">Thiết bị gia đình</h3>
                        <a href="#" class="link-detail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 no-padding">
                <div class="banner2 banner-hover">
                    <div class="img">
                        <img src="assets/images/upload/banner2.png" alt="">
                        <div class="bg-hover"></div>
                    </div>
                    <div class="name">
                        <h3 class="title">Gia dụng</h3>
                        <a href="#" class="link-detail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="banner1 ">
                    <div class="img">
                        <img src="assets/images/upload/banner5.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 no-padding">
                <div class="banner1 banner-hover">
                    <div class="img">
                        <img src="assets/images/upload/banner3.png" alt="">
                        <div class="bg-hover"></div>
                    </div>
                    <div class="name">
                        <h3 class="title">Máy lạnh</h3>
                        <a href="#" class="link-detail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="banner2 banner-hover">
                    <div class="img">
                        <img src="assets/images/upload/banner6.png" alt="">
                        <div class="bg-hover"></div>
                    </div>
                    <div class="name">
                        <h3 class="title">Nhà bếp</h3>
                        <a href="#" class="link-detail">Chi tiết <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end container-->
</main>
{% endblock %}