<div class="sidebar">
    <div data-spy="affix" data-offset-top="85" data-offset-bottom="500" class="content-sidebar">
        <h2>Gia Dụng</h2>
        <div data-mcs-theme="dark" class="all-box-check">
            <div class="box-check">
                <div class="heading">
                    <h4>Danh mục</h4>
                </div>
                <div class="menu-sidebar">
                    <ul>
                        <li class="item-root item-parent {% if current_page == 'category' or current_page == 'category-h2'%}active{% endif %}"><a title href="category.html" class="parent-menu {% if current_page == 'category' or current_page == 'category-h2'%}active{% endif %}"><span class="text">Đồ dùng nhà bếp <i>(1378)</i></span><span class="fa fa-angle-up"></span></a>
                            <ul role="menu" aria-labelledby="menu1" class="content Sub">
                                <li><a href="category-h2.html" title class="{% if current_page == 'category-h2'%}active{% endif %}"><span class="text">Bếp ga <i>(578)</i></span></a></li>
                                <li><a href="category-h21.html" title class="{% if current_page == 'category-h21'%}active{% endif %}"><span class="text">Bếp từ <i>(78) </i></span></a></li>
                            </ul>
                        </li>
                        <li class="item-root item-parent {% if current_page == 'category1' or current_page == 'category-h21'%}active{% endif %}"><a title href="category1.html" class="parent-menu {% if current_page == 'category1' or current_page == 'category-h21'%}active{% endif %}"><span class="text" >Thiết bị gia đình <i>(578)</i></span><span class="fa fa-angle-up"></span></a>
                            <ul role="menu" aria-labelledby="menu1" class="content Sub">
                                <li><a href="category-h21.html" title class="{% if current_page == 'category-h21'%}active{% endif %}"><span class="text">Bếp ga <i>(578)</i></span></a></li>
                                <li><a href="category-h22.html" title class="{% if current_page == 'category-h22'%}active{% endif %}"><span class="text">Bếp từ <i>(78) </i></span></a></li>
                            </ul>
                        </li>
                        <li class="item-root item-parent {% if current_page == 'category2' or current_page == 'category-h22'%}active{% endif %}"><a title href="category2.html" class="parent-menu {% if current_page == 'category2' or current_page == 'category-h22'%}active{% endif %}"><span class="text" >Các sản phẩm khác <i>(78)</i></span><span class="fa fa-angle-up"></span></a>
                            <ul role="menu" aria-labelledby="menu1" class="content Sub">
                                <li><a href="category-h22.html" title class="{% if current_page == 'category-h22'%}active{% endif %}"><span class="text">Bếp ga <i>(578)</i></span></a></li>
                                <li><a href="category-h21.html" title class="{% if current_page == 'category-h21'%}active{% endif %}"><span class="text">Bếp từ <i>(78) </i></span></a></li>
                            </ul>
                        </li>                        
                    </ul>
                </div>
            </div>
            <div class="box-check">
                <div class="heading">
                    <h4><a title="" data-toggle="collapse" href="#content1" aria-expanded="false" aria-controls="collapseExample"><span class="text">Thương hiệu</span><span class="fa fa-angle-up"></span></a></h4>
                </div>
                <div id="content1" class="content collapse in">
                    <div class="checkbox">
                        <input id="check1" type="checkbox" name="check" value="check1">
                        <label for="check1">Sony <span class="number">(78)</span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check2" type="checkbox" name="check" value="check1">
                        <label for="check2">Samsung <span class="number">(178) </span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check3" type="checkbox" name="check" value="check1">
                        <label for="check3">LG<span class="number">(18)</span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check4" type="checkbox" name="check" value="check1">
                        <label for="check4">Panasonic<span class="number">(158) </span></label>
                    </div>
                </div>
            </div>
            <div class="box-check">
                <div class="heading">
                    <h4><a title="" data-toggle="collapse" href="#content2" aria-expanded="false" aria-controls="collapseExample"><span class="text">Kích thước màn hình</span><span class="fa fa-angle-up"></span></a></h4>
                </div>
                <div id="content2" class="content collapse in">
                    <div class="scrollbar">
                        <div class="checkbox">
                            <input id="check5" type="checkbox" name="check" value="check1">
                            <label for="check5">Dưới 32 inch (35)<br> <span class="space">(Khoảng cách: Dưới 2m)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check6" type="checkbox" name="check" value="check1">
                            <label for="check6">32-43 inch (19)<br><span class="space">(Khoảng cách: 2-3m)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check7" type="checkbox" name="check" value="check1">
                            <label for="check7">44-55 inch (158)<br><span class="space">(Khoảng cách: 3-4m)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check8" type="checkbox" name="check" value="check1">
                            <label for="check8">Trên 55 inch (89)<br><span class="space">(Khoảng cách: Trên 5m)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check9" type="checkbox" name="check" value="check1">
                            <label for="check9">Trên 55 inch (89)<br><span class="space">(Khoảng cách: Trên 5m)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check10" type="checkbox" name="check" value="check1">
                            <label for="check10">Trên 55 inch (89)<br><span class="space">(Khoảng cách: Trên 5m)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check11" type="checkbox" name="check" value="check1">
                            <label for="check11">Trên 55 inch (89)<br><span class="space">(Khoảng cách: Trên 5m)</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-check">
                <div class="heading">
                    <h4><a title="" data-toggle="collapse" href="#content3" aria-expanded="false" aria-controls="collapseExample"><span class="text">Giá bán</span><span class="fa fa-angle-up"></span></a></h4>
                </div>
                <div id="content3" class="content collapse in">
                    <div class="checkbox">
                        <input id="check12" type="checkbox" name="check" value="check1">
                        <label for="check12">Dưới 5 triệu<span class="number">(78)</span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check13" type="checkbox" name="check" value="check1">
                        <label for="check13">Từ 5 - 7 triệu <span class="number">(178) </span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check14" type="checkbox" name="check" value="check1">
                        <label for="check14">Từ 7 - 10 triệu<span class="number">(18)</span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check15" type="checkbox" name="check" value="check1">
                        <label for="check15">Từ 10 - 15 triệu<span class="number">(158) </span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check16" type="checkbox" name="check" value="check1">
                        <label for="check16">Từ 15 - 20 triệu<span class="number">(158) </span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check17" type="checkbox" name="check" value="check1">
                        <label for="check17">Từ 20 - 25 triệu<span class="number">(158)</span></label>
                    </div>
                    <div class="checkbox">
                        <input id="check18" type="checkbox" name="check" value="check1">
                        <label for="check18">Trên 30 triệu<span class="number">(158)</span></label>
                    </div>
                </div>
            </div>
            <div class="box-check">
                <div class="heading">
                    <h4><a title="" data-toggle="collapse" href="#content4" aria-expanded="false" aria-controls="collapseExample"><span class="text">Loại Tivi</span><span class="fa fa-angle-up"></span></a></h4>
                </div>
                <div id="content4" class="content collapse in">
                    <div class="scrollbar">
                        <div class="checkbox">
                            <input id="check19" type="checkbox" name="check" value="check1">
                            <label for="check19">Smart Tivi <span class="number">(78)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check20" type="checkbox" name="check" value="check1">
                            <label for="check20">Tivi Oled <span class="number">(178) </span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check21" type="checkbox" name="check" value="check1">
                            <label for="check21">Tivi HDR <span class="number">(18)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check22" type="checkbox" name="check" value="check1">
                            <label for="check22">Tivi 3D <span class="number">(158) </span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check23" type="checkbox" name="check" value="check1">
                            <label for="check23">Tivi thường <span class="number">(158) </span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check24" type="checkbox" name="check" value="check1">
                            <label for="check24">Tivi màn hình cong <span class="number">(158)</span></label>
                        </div>
                        <div class="checkbox">
                            <input id="check25" type="checkbox" name="check" value="check1">
                            <label for="check25">Tivi 4K <span class="number">(158)  </span></label>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>