<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>Thông tin điện máy Thiên Hòa</h4>
                <ul>
                    <li><a href="javascript:void();" title="">Hệ thống siêu thị</a>
                    </li>
                    <li><a href="javascript:void();" title="">Giới thiệu công ty</a>
                    </li>
                    <li><a href="javascript:void();" title="">Tuyển dụng</a>
                    </li>
                    <li><a href="javascript:void();" title="">Liên hệ, góp ý</a>
                    </li>
                    <li><a href="javascript:void();" title="">Tìm hiểu về mua hàng trả góp</a>
                    </li>
                    <li><a href="javascript:void();" title="">Bán hàng doanh nghiệp</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 padding">
                <h4>Hỗ trợ khách hàng</h4>
                <ul>
                    <li><a href="javascript:void();" title="">Hướng dẫn mua hàng</a>
                    </li>
                    <li><a href="javascript:void();" title="">Giao hàng, lắp đặt</a>
                    </li>
                    <li><a href="javascript:void();" title="">Bảo hành, đổi trả</a>
                    </li>
                    <li><a href="javascript:void();" title="">Tìm trung tâm bảo hành</a>
                    </li>
                    <li class="bct">
                        <a href="#"><img src="assets/images/bct1.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Tổng đài hỗ trợ</h4>
                <span class="note">(1000đ/Phút; 08h-22h, kể cả T7, CN)</span>
                <p class="telephone"><a href="tel:1900 1829" title="" target="_blank">1900 1829</a></p>
                <ul class="list-support">
                    <li>- Mua hàng: Bấm phím 1</li>
                    <li>- Bảo hành: Bấm phím 2</li>
                    <li>- Khiếu nại: Bấm phím 0</li>
                </ul>
                <a href="javascript:void(0);" title="" class="btn btn-border other"><span>Gửi yêu cầu hỗ trợ khác</span></a>
            </div>
            <div class="col-sm-3">
                <div class="connect-mymall">
                    <h4>Kết nối với Điện Máy Thiên Hòa</h4>
                    <p><img src="assets/images/imgfb.jpg" alt=""></p>
                    <p class="youtube"><img src="assets/images/imgyt.jpg" alt=""> <b class="text">86.1K Đăng ký</b></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-5 padding1">
                    <p class="copyright">© 2011 - 2018 - Trung Tâm Điện Máy & Nội Thất Thiên Hòa</p>
                    <p class="address">Lầu 06, 277B, Cách Mạng Tháng 8, Phường 12, Quận 10, TPHCM</p>
                    <p class="address">GPKD số: 0302429934 do Sở kế hoạch &amp; Đầu tư TP. Hồ Chí Minh cấp ngày 23/10/2001</p>
                </div>
                <div class="col-md-7 padding2">
                    <p>Bạn có thể thanh toán với</p>
                    <div class="clearfix">
                        <div class="total-card pull-left">
                            <a href="#" class="btn"><img src="assets/images/pay-cash.jpg" alt=""></a>
                            <a href="#" class="btn"><img src="assets/images/pay-master-card.jpg" alt=""></a>
                            <a href="#" class="btn"><img src="assets/images/pay-visa.jpg" alt=""></a>
                            <a href="#" class="btn"><img src="assets/images/pay-jbc.jpg" alt=""></a>
                            <a href="#" class="btn btn-border">Trả Góp <span class="percent">0%</span></a>
                        </div>
                        <div class="pull-right"><a href="javascript:void(0);" title="" class="btn btn-border btn-version-mobile"><span><i class="text">Xem phiên bản Mobile   </i><i class="fa fa-caret-right"></i></span></a></div>
                    </div>
                </div>
            </div>
        </div><a href="#" class="back-top-btn"><span class="fa fa-angle-up">                  </span></a>
    </div>
</footer>