<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Về Fujiyama</h4>
                <ul>
                    <li><a href="javascript:void();" title="">Hệ thống trung tâm/ Cữa hàng</a>
                    </li>
                    <li><a href="javascript:void();" title="">Thương hiệu</a>
                    </li>
                    <li><a href="javascript:void();" title="">Philosophy</a>
                    </li>
                    <li><a href="javascript:void();" title="">Chứng nhận sản phẩm</a>
                    </li>
                    <li class="bct">
                        <a href="#"><img src="assets/images/bct1.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 padding col-sm-6">
                <h4>Hỗ trợ khách hàng</h4>
                <ul>
                    <li><a href="javascript:void();" title="">Hướng dẫn mua hàng</a>
                    </li>
                    <li><a href="javascript:void();" title="">Chế độ bảo hành</a>
                    </li>
                    <li><a href="javascript:void();" title="">Trung tâm bảo hành</a>
                    </li>
                    <li><a href="javascript:void();" title="">Blog Fujiyama</a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4>Tổng đài hỗ trợ</h4>
                <span class="note">(1000đ/Phút; 08h-22h, kể cả T7, CN)</span>
                <p class="telephone"><a href="tel:1900 1829" title="" target="_blank">1900 1829</a></p>
                <ul class="list-support">
                    <li>- Mua hàng: Bấm phím <b class="red">(1)</b></li>
                    <li>- Bảo hành: Bấm phím <b class="red">(2)</b></li>
                    <li>- Giao hàng, lắp đặt: Bấm phím <b class="red">(3)</b></li>
                    <li>- Tư vấn ky thuật: Bấm phím <b class="red">(4)</b></li>
                    <li>- Hướng dẫn chung: Bấm phím  <b class="red">(0)</b></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="connect-mymall">
                    <h4>Kết nối với Fujiyama</h4>
                    <p><img src="assets/images/imgfb.jpg" alt=""></p>
                    <p class="youtube"><img src="assets/images/imgyt.jpg" alt=""> <b class="text">86.1K Đăng ký</b></p>
                </div>
                <div class="thienhoa">
                    <p>Website cùng hệ thống:</p>
                    <a href="#"><img src="assets/images/logo-footer.png" alt=""> <span>dienmaythienhoa.vn</span></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-5 padding1">
                    <p class="copyright">© 2011 - 2018 - Trung Tâm Điện Máy & Nội Thất Thiên Hòa</p>
                    <p class="address">Lầu 06, 277B, Cách Mạng Tháng 8, Phường 12, Quận 10, TPHCM</p>
                    <p class="address">GPKD số: 0302429934 do Sở kế hoạch &amp; Đầu tư TP. Hồ Chí Minh cấp ngày 23/10/2001</p>
                </div>
                <div class="col-md-7 padding2">
                    <p>Bạn có thể thanh toán với</p>
                    <div class="clearfix">
                        <div class="total-card pull-left">
                            <a href="#" class="btn"><img src="assets/images/pay-cash.jpg" alt=""></a>
                            <a href="#" class="btn"><img src="assets/images/pay-master-card.jpg" alt=""></a>
                            <a href="#" class="btn"><img src="assets/images/pay-visa.jpg" alt=""></a>
                            <a href="#" class="btn"><img src="assets/images/pay-jbc.jpg" alt=""></a>
                            <a href="#" class="btn btn-border">Trả Góp <span class="percent">0%</span></a>
                        </div>
                        <div class="pull-right"><a href="javascript:void(0);" title="" class="btn btn-border btn-version-mobile"><span><i class="text">Xem phiên bản Mobile   </i><i class="fa fa-caret-right"></i></span></a></div>
                    </div>
                </div>
            </div>
        </div><a href="#" class="back-top-btn"><span class="fa fa-angle-up">                  </span></a>
    </div>
</footer>