<div class="page pagination">
    <div class="wrap">
        <div class="left">
            <i class="fa fa-angle-double-left">&nbsp</i>
            <div> <p>Trước</p></div>
        </div>
        <ul class="page-number">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <p class="display">Trang 1/22</p>
        <div class="right">
            <div><p>Sau</p></div>
            <i class="fa fa-angle-double-right">&nbsp</i>
        </div>
    </div>
</div>